.logo-footer{
    width: 15rem;
}


.footer{
    background-color: #fff;
    box-shadow: 0 0 9px rgb(163, 162, 162);
}

.link-menu{
    color: rgb(95, 94, 94);
    font-weight: bold;
    font-size: 1.2rem;
}

.link-menu:hover{
    color: #00a0e1;

}

.navlink-footer{
    text-decoration: none;
}

.icon-footer{
    color: #00a0e1;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: transform 0.4s ease;
}

.icon-footer:hover{
    transform: scale(1.4);
    opacity: 60%;
}