*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
/* .button-styles {
    padding-left: rem !important;
} */
.button-styles {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
.phoneNumber input{
    -webkit-appearance: none !important;
    margin: 0;
}